<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <title>Budgets</title>
</head>
<body id="backgroundStyle">
    <% if( bankAccount < 0) { %>
        <style> #backgroundStyle {background-color: red} </style>
    <% } else if( bankAccount > 1000){ %>
        <style> #backgroundStyle {background-color: green} </style>
    <% }; %>
    <div class="container">
        <h1>Budgtr ALL</h1>
        <button><a href="/budgets/newItem">New Item</a></button>
        <h4>Bank Account Balance: <%= bankAccount %> </h4>
        <table>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Amount</th>
            </tr>
            <% for(let i = 0; i < budget.length; i+=1) { %>
                <tr>
                    <td><%= budget[i].date %> </td>
                    <td><a href="/budgets/<%= i %>"</a><%= budget[i].name %></td>
                    <td>$<%= budget[i].amount %></td>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>